$baseFontsize: 75 !default;
@function pxtorem($px) {
    @return $px / $baseFontsize * 1rem;
}
@mixin dprtopx($obj,$px) {
    #{$obj}: $px * 1px;
    [data-dpr="2"] & {
        #{$obj}: $px * 2px;
    }
    [data-dpr="3"] & {
        #{$obj}: $px * 3px;
    }
}
.Hbirth{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    .Hbirth-container{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        @include dprtopx('height',250);
        background: #fff;
        transform: translate3d(0,100%,0);
        transition: transform .4s ease;
        .Hbirth-tool{
            @include dprtopx('height',45);
            @include dprtopx('line-height',45);
            @include dprtopx('font-size',12);
            text-align: center;
            color: #999;
            .Hbirth-cancel{
                @include dprtopx('width',50);
                height: 100%;
                float: left;
            }
            .Hbirth-confirm{
                @include dprtopx('width',50);
                height: 100%;
                float: right;
                color: #333;
            }
        }
        .Hbirth-body{
            @include dprtopx('height',205);
            background: #ddd;
            .Hbirth-rect{
                position: absolute;
                z-index: 0;
                top: 50%;
                left: 0;
                @include dprtopx('margin-top',-18);
                width: 100%;
                @include dprtopx('height',38);
                border-top: 1px solid rgba(0,0,0,0.1);
                border-bottom: 1px solid rgba(0,0,0,0.1);
            }
        }
        .Hbirth-options{
            position: relative;
            float: left;
            height: 100%;
            width: 33.3%;
            
            transform-style: preserve-3d;
            transform-origin: center center;
            ul{
                transform-style: preserve-3d;
                position: absolute;
                top: 50%;
                @include dprtopx('margin-top',-16);
                @include dprtopx('height',36);
                @include dprtopx('line-height',36);
                width: 100%;
                @include dprtopx('font-size',14);
                color: #999;
                li{
                    width: 100%;
                    height: 100%;
                    visibility: hidden;
                    position: absolute;
                    text-align: center;
                    vertical-align: middle;
                    backface-visibility: hidden;
                }
                .highlight{
                    color: #000;
                }
                .visible{
                    visibility: visible;
                }
            }
        }
    }
    .Hbirth-container-show{
        transform: translate3d(0,0,0);
    }
}