.Hbirth {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); }
  .Hbirth .Hbirth-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
    background: #fff;
    transform: translate3d(0, 100%, 0);
    transition: transform .4s ease; }
    [data-dpr="2"] .Hbirth .Hbirth-container {
      height: 500px; }
    [data-dpr="3"] .Hbirth .Hbirth-container {
      height: 750px; }
    .Hbirth .Hbirth-container .Hbirth-tool {
      height: 45px;
      line-height: 45px;
      font-size: 12px;
      text-align: center;
      color: #999; }
      [data-dpr="2"] .Hbirth .Hbirth-container .Hbirth-tool {
        height: 90px; }
      [data-dpr="3"] .Hbirth .Hbirth-container .Hbirth-tool {
        height: 135px; }
      [data-dpr="2"] .Hbirth .Hbirth-container .Hbirth-tool {
        line-height: 90px; }
      [data-dpr="3"] .Hbirth .Hbirth-container .Hbirth-tool {
        line-height: 135px; }
      [data-dpr="2"] .Hbirth .Hbirth-container .Hbirth-tool {
        font-size: 24px; }
      [data-dpr="3"] .Hbirth .Hbirth-container .Hbirth-tool {
        font-size: 36px; }
      .Hbirth .Hbirth-container .Hbirth-tool .Hbirth-cancel {
        width: 50px;
        height: 100%;
        float: left; }
        [data-dpr="2"] .Hbirth .Hbirth-container .Hbirth-tool .Hbirth-cancel {
          width: 100px; }
        [data-dpr="3"] .Hbirth .Hbirth-container .Hbirth-tool .Hbirth-cancel {
          width: 150px; }
      .Hbirth .Hbirth-container .Hbirth-tool .Hbirth-confirm {
        width: 50px;
        height: 100%;
        float: right;
        color: #333; }
        [data-dpr="2"] .Hbirth .Hbirth-container .Hbirth-tool .Hbirth-confirm {
          width: 100px; }
        [data-dpr="3"] .Hbirth .Hbirth-container .Hbirth-tool .Hbirth-confirm {
          width: 150px; }
    .Hbirth .Hbirth-container .Hbirth-body {
      height: 205px;
      background: #ddd; }
      [data-dpr="2"] .Hbirth .Hbirth-container .Hbirth-body {
        height: 410px; }
      [data-dpr="3"] .Hbirth .Hbirth-container .Hbirth-body {
        height: 615px; }
      .Hbirth .Hbirth-container .Hbirth-body .Hbirth-rect {
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 0;
        margin-top: -18px;
        width: 100%;
        height: 38px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
        [data-dpr="2"] .Hbirth .Hbirth-container .Hbirth-body .Hbirth-rect {
          margin-top: -36px; }
        [data-dpr="3"] .Hbirth .Hbirth-container .Hbirth-body .Hbirth-rect {
          margin-top: -54px; }
        [data-dpr="2"] .Hbirth .Hbirth-container .Hbirth-body .Hbirth-rect {
          height: 76px; }
        [data-dpr="3"] .Hbirth .Hbirth-container .Hbirth-body .Hbirth-rect {
          height: 114px; }
    .Hbirth .Hbirth-container .Hbirth-options {
      position: relative;
      float: left;
      height: 100%;
      width: 33.3%;
      transform-style: preserve-3d;
      -ms-transform-origin: center center;
          transform-origin: center center; }
      .Hbirth .Hbirth-container .Hbirth-options ul {
        list-style: none;
        transform-style: preserve-3d;
        position: absolute;
        top: 50%;
        margin-top: -16px;
        height: 36px;
        line-height: 36px;
        width: 100%;
        font-size: 14px;
        color: #999; }
        [data-dpr="2"] .Hbirth .Hbirth-container .Hbirth-options ul {
          margin-top: -32px; }
        [data-dpr="3"] .Hbirth .Hbirth-container .Hbirth-options ul {
          margin-top: -48px; }
        [data-dpr="2"] .Hbirth .Hbirth-container .Hbirth-options ul {
          height: 72px; }
        [data-dpr="3"] .Hbirth .Hbirth-container .Hbirth-options ul {
          height: 108px; }
        [data-dpr="2"] .Hbirth .Hbirth-container .Hbirth-options ul {
          line-height: 72px; }
        [data-dpr="3"] .Hbirth .Hbirth-container .Hbirth-options ul {
          line-height: 108px; }
        [data-dpr="2"] .Hbirth .Hbirth-container .Hbirth-options ul {
          font-size: 28px; }
        [data-dpr="3"] .Hbirth .Hbirth-container .Hbirth-options ul {
          font-size: 42px; }
        .Hbirth .Hbirth-container .Hbirth-options ul li {
          width: 100%;
          height: 100%;
          visibility: hidden;
          position: absolute;
          text-align: center;
          vertical-align: middle;
          -webkit-backface-visibility: hidden;
                  backface-visibility: hidden; }
        .Hbirth .Hbirth-container .Hbirth-options ul .highlight {
          color: #000; }
        .Hbirth .Hbirth-container .Hbirth-options ul .visible {
          visibility: visible; }
  .Hbirth .Hbirth-container-show {
    transform: translate3d(0, 0, 0); }
